.swiper-gallery {
	width: 90%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper .swiper-slide {
	height: auto;
}

.swiper-pagination-bullet {
	opacity: 1;
}

.color .swiper-pagination-bullet {
	background-color: var(--color1-bg);
}
.color .swiper-pagination-bullet-active {
	background-color: var(--color1-accent);
}

.color0 .swiper-pagination-bullet {
	background-color: var(--color0-text);
}
.color0 .swiper-pagination-bullet-active {
	background-color: var(--color0-accent2);
}

.color1 .swiper-pagination-bullet {
	background-color: var(--color1-text);
}
.color1 .swiper-pagination-bullet-active {
	background-color: var(--color1-accent);
}
